// Whatsapp theme colors
$whatsappThemeColor: #07bc4c;
$darkBackgroundColor: #0d1418;
$lightBackgroundColor: #e5ddd5;

// Monotone colors
$c-dark: #022e40;
$c-dark-accent: #032859;
$c-white: #f2f2f2;
$c-white-dark: #bfbfbf;
$c-white-accent: #e1e1e1;

// Blue colors
$c-blue-accent: #21a68d;
$c-blue-accent-light: #60d8bd;
$c-blue-accent-dark: #227373;
$c-blue-secondary: #0c808c;
$c-blue-secondary-light: #51b0bc;
$c-blue-secondary-dark: #00535f;
$c-blue-dark: #11538c;

// Green colors
$c-green: #88a825;
$c-green-accent: #b3f94f;

// Yellow colors
$c-yellow: #ffd45c;
$c-yellow-accent: #ffa35c;
$c-yellow-bright: #ffd800;
$c-yellow-bright-accent: #fd9924;

// Orange colors
$c-orange: #fe6a2c;
$c-orange-accent: #ffbf5c;
$c-orange-dark: #cf4a30;
$c-orange-dark-accent: #ed8c2b;

// Red colors
$c-red: #ff675c;
$c-red-light: #ff855c;
$c-red-dark: #d93b3b;
$c-red-dark-accent: #911146;
