// ---- COLORS -----
// MONOTONE

// -- dark colors
$dark: #022e40;
$dark-accent: #032859;

// -- light colors
$white: #f2f2f2;
$white-dark: #d9cdb8;
$white-accent: #ffe4b6;

// BLUE
$blue: #016f94;
$blue-accent: #21a68d;
$blue-dark: #11538c;
$blue-dark-accent: #227373;

// WHITE
$green: #88a825;
$green-accent: #b3f94f;

// YELLOW
$yellow: #ffd45c;
$yellow-accent: #ffa35c;

$yellow-bright: #ffd800;
$yellow-bright-accent: #fd9924;

// ORANGE
$orange: #fe6a2c;
$orange-accent: #ffbf5c;
$orange-dark: #cf4a30;
$orange-dark-accent: #ed8c2b;

// RED
$red: #ff675c;
$red-light: #ff855c;
$red-dark: #d93b3b;
$red-dark-accent: #911146;
