@use "theme-variables" as *;

.top-color {
  background-color: $c-blue-accent;
}

.only-visible-to-html2canvas {
  display: none;
}

.cta {
  background: $c-white;
  width: 100%;
}

.btn-color {
  background-color: $c-blue-accent !important;
}

.btn-color-dark {
  background-color: $c-blue-secondary-dark !important;
}

.link {
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}
